<table>
  <tr>
    <th>Id</th>
    <th>Nombre</th>
    <th>Count</th>
  </tr>
  {{#each visitors}}
    <tr>
      <td>{{this._id}}</td>
      <td>{{this.name}}</td>
      <td>{{this.count}}</td>
    </tr>
  {{/each}}
</table>